#container {
	height: 450px;
    margin: 15px 5px 30px 5px;
    padding: 20px 15px 15px;
    width: 1340px;
}
#placeholder {
	float: left;
    padding: 0;
    position: relative;
    width: 675px;
    height: 100%;
}
#choices {
	float: left; 
	height: 200px;
	width: 380px;
}
#choices div {
	float: left; 
	width: 190px;
}
#legend {
	float: left;
}